body {
  margin: 0;
  overflow: hidden;
}

.parallax-wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 16px;
  margin: auto;
}

.exam {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: right;
  align-items: center;
  height: 100vh;
  transform-style: preserve-3d;
}
.parallax-layer--deep {
  transform: translateZ(-32px) scale(3);
}
.parallax-layer--back {
  transform: translateZ(-16px) scale(2);
}
.parallax-layer--fore {
  transform: translateZ(-8) scale(1.5);
}

.countdown {
  font-family: staatliches;
}
.black-line {
  background-color: black;
}
.spacer__middle {
  font-size: 2rem;
  padding: 2rem;
  height: 300vh;
}
.spacer__end {
  font-size: 2rem;
  padding: 2rem;
  height: 60vh;
}
@media only screen and (min-width: 500px) {
  img {
    width: 60vw;
  }
  .parallax-wrapper {
    width: 60vw;
  }
  .countdown {
    font-size: 30pt;
    letter-spacing: -1.6pt;
    word-spacing: -0.5pt;
    margin-bottom: -1vh;
  }
  .black-line {
    height: 1.5vh;
    width: 60vw;
  }
  .black-line--first_paper-one {
    position: absolute;
    top: -700px;
  }
  .exam-series__paper-one {
    position: absolute;
    top: -270px;
    min-height: fit-content;
  }
  .exam-paper__paper-one {
    position: absolute;
    top: 135px;
  }
  .black-line--second__paper-one {
    position: absolute;
    top: -135px;
  }
  .exam-title__paper-one {
    position: absolute;
    top: 75px;
  }

  #paperOneCountdown {
    position: absolute;
    top: 465px;
  }
  .black-line--third__paper-one {
    position: absolute;
    top: 640px;
  }
  .exam-date__paper-one {
    position: absolute;
    top: 910px;
  }

  .black-line--first__paper-two {
    position: absolute;
    top: 2218px;
  }
  .exam-series__paper-two {
    position: absolute;
    top: 1615px;
  }
  .exam-paper__paper-two {
    position: absolute;
    top: 2120px;
  }
  .black-line--second__paper-two {
    position: absolute;
    top: 2408px;
  }
  .exam-title__paper-two {
    position: absolute;
    top: 2105px;
  }
  #paperTwoCountdown {
    position: absolute;
    top: 2666px;
  }
  .black-line--third__paper-two {
    position: absolute;
    top: 2950px;
  }
  .exam-date__paper-two {
    position: absolute;
    top: 2720px;
  }
}

@media only screen and (max-width: 499px) {
  img {
    width: 80vw;
  }
  .parallax-wrapper {
    width: 80vw;
  }
  .countdown {
    font-size: 16pt;
    letter-spacing: -0.6pt;
    word-spacing: -0.5pt;
  }
  .black-line {
    height: 1vh;
    width: 90vw;
  }
  .black-line--first_paper-one {
    position: absolute;
    top: -500px;
  }
  .exam-series__paper-one {
    position: absolute;
    top: -180px;
  }
  .exam-paper__paper-one {
    position: absolute;
    top: 125px;
  }
  .black-line--second__paper-one {
    position: absolute;
    top: -280px;
  }
  .exam-title__paper-one {
    position: absolute;
    top: -37px;
  }

  #paperOneCountdown {
    position: absolute;
    top: 450px;
  }
  .black-line--third__paper-one {
    position: absolute;
    top: 580px;
  }
  .exam-date__paper-one {
    position: absolute;
    top: 740px;
  }

  .black-line--first__paper-two {
    position: absolute;
    top: 2300px;
  }
  .exam-series__paper-two {
    position: absolute;
    top: 1780px;
  }
  .exam-paper__paper-two {
    position: absolute;
    top: 2120px;
  }
  .black-line--second__paper-two {
    position: absolute;
    top: 2378px;
  }
  .exam-title__paper-two {
    position: absolute;
    top: 1990px;
  }
  #paperTwoCountdown {
    position: absolute;
    top: 2686px;
  }
  .black-line--third__paper-two {
    position: absolute;
    top: 2950px;
  }
  .exam-date__paper-two {
    position: absolute;
    top: 2720px;
  }
}
