* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(199, 123, 219);
}
article {
  width: 756px;
  margin-top: 8vh;
  margin-bottom: 8vh;
  height: 100vh;
  font-family: "Staatliches", cursive;
}

h1 {
  font-size: 70pt;
  letter-spacing: 8pt;
  padding: 1rem;

  padding-bottom: 0;
  text-align: center;
  line-height: 70%;
}

h2 {
  font-size: 50pt;
  letter-spacing: 6pt;
  padding-left: 1rem;
  padding-right: 1rem;
  float: left;
  margin-top: 1px;
  line-height: 91%;
}

h3 {
  font-size: 50pt;
  letter-spacing: 6pt;
  padding-left: 1rem;
  padding-right: 1rem;
  float: right;
  margin-top: 1px;
  line-height: 91%;
}
h4 {
  font-size: 27.7pt;
  word-spacing: 3.5pt;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1px;
  /* line-height: 91%; */
}

p {
  font-size: 28pt;
  /* word-spacing: 6pt; */
  padding-right: 2rem;
  padding-top: 15rem;
  text-align: right;
  line-height: 13pt;
}
.hro {
  width: 705px;
  border: 3px solid black;
  margin-left: 1rem;
  margin-right: 1rem;
}
hr {
  width: 705px;
  border: 5px solid black;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 8px;
  border-radius: 3pt;
}

.date {
  text-align: right;
  padding-right: 2rem;
  line-height: 24pt;
}
