* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #c77bdb;
  min-height: 100%;
}

.element {
  z-index: -1;
}
.paper {
  width: 60vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}
.fore {
  transform: translateZ(-8) scale(20);
}
.base {
  transform: translateZ(6) scale(2);
}
.back {
  transform: translateZ(-4) scale(4);
}
.deep {
  transform: translateZ(-2) scale(8);
}
.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

.right {
  float: right;
}
.line {
  background-color: black;
  height: 1.5vh;
  width: 60vw;
}
.first {
  margin-top: 40px;
  margin-bottom: 20px;
}
.second {
  margin-top: 5px;
  margin-bottom: -8px;
}
.third {
  margin-top: -9px;
  margin-bottom: -9px;
}
img {
  margin-top: 10px;
  margin-bottom: -10px;
}
.space {
  height: 25vh;
  background-color: red;
}
.break {
  height: 100vh;
  background-color: rgba(255, 0, 0, 0.276);
}
.end {
  height: 46vh;
  background-color: red;
}
.countdown {
  font-family: staatliches;
  letter-spacing: -1.6pt;
  word-spacing: -0.5pt;
  text-align: right;
  margin-bottom: -1vh;
}
.smallerGap {
  margin-top: 3px;
}
.biggerGap {
  margin-top: 12px;
}
@media only screen and (min-width: 700px) {
  .right {
    width: 27vw;
  }
  .line {
    width: 55vw;
  }
  img {
    width: 55vw;
  }
  .space {
    height: 25vh;
  }
  .countdown {
    font-size: 4vw;
  }
}

@media only screen and (max-width: 700px) {
  .right {
    width: 35vw;
  }
  .line {
    width: 85vw;
  }
  img {
    width: 85vw;
  }
  .space {
    height: 25vh;
  }
  .countdown {
    font-size: 6vw;
  }
}
