body {
  margin: 0;
  background-color: #c77bdb;
}

.wrapper {
  width: 60vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 16px;
  margin: auto;
}

.paper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: right;
  align-items: center;
  height: 100vh;
  transform-style: preserve-3d;
}
.deep {
  transform: translateZ(-32px) scale(3);
}
.back {
  transform: translateZ(-16px) scale(2);
}
.fore {
  transform: translateZ(-8) scale(1.5);
}

img {
  width: 60vw;
}

.countdown {
  font-family: staatliches;
  letter-spacing: -1.6pt;
  word-spacing: -0.5pt;
  margin-bottom: -1vh;
  font-size: 30pt;
}

.line {
  /* background-color: black; */
  height: 1.5vh;
  width: 60vw;
}

.section1 {
  font-size: 2rem;
  padding: 2rem;
  height: 300vh;
}
.section2 {
  font-size: 2rem;
  padding: 2rem;
  height: 60vh;
}

.first1 {
  position: absolute;
  top: -700px;
  background-color: black;
}
.series1 {
  position: absolute;
  top: -270px;
  min-height: fit-content;
}
.paper1 {
  position: absolute;
  top: 135px;
}
.second1 {
  position: absolute;
  top: -135px;
  background-color: black;
}
.title1 {
  position: absolute;
  top: 75px;
}

#stamp1 {
  position: absolute;
  top: 465px;
}
.third1 {
  position: absolute;
  top: 640px;
  background-color: black;
}
.date1 {
  position: absolute;
  top: 910px;
}

.first2 {
  position: absolute;
  top: 2218px;
  background-color: black;
}
.series2 {
  position: absolute;
  top: 1615px;
}
.paper2 {
  position: absolute;
  top: 2120px;
}
.second2 {
  position: absolute;
  top: 2408px;
  background-color: black;
}
.title2 {
  position: absolute;
  top: 2105px;
}
#stamp2 {
  position: absolute;
  top: 2666px;
}
.third2 {
  position: absolute;
  top: 2950px;
  background-color: black;
}
.date2 {
  position: absolute;
  top: 2720px;
}
